{erl_opts, [debug_info]}.
{deps, [
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
  {pe4kin, ".*", {git, "https://github.com/seriyps/pe4kin.git", {branch, "master"}}},
  {tdlib, ".*", {git, "http://github.com/lattenwald/erl-tdlib", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [gram, jiffy, pe4kin]}
]}.
